Implementacio/SmartWateringSystem_IPintegrated/SmartWateringSystem_IPintegrated.sdk/.metadata/.plugins/org.eclipse.debug.core/.launches/System Debugger using Debug_SmartWateringSystemSoftware.elf on Local.launch
Implementacio/SmartWateringSystem_IPintegrated/SmartWateringSystem_IPintegrated.sdk/.sdk/launch_scripts/xilinx_c-c++_application_(system_debugger)/system_debugger_using_debug_smartwateringsystemsoftware.elf_on_local.tcl
